/*
	daf7dc
	#9EE493
	#86BBD8
	#336699
	#2F4858
*/

body{
	background: #2F4858;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px;
	/* makes the size (w / h) include both paddng + border */
	box-sizing: border-box;
}

.container{
	background: #336699;
	height: 100%;

	/* grid properties */
	/* grid goes on parent */
	display: grid;
	gap: 20px;
	padding: 10px;

	/* the amount of sizes determines how many rows/col */
	/* right now, we have 4 columns and 2 rows */
	/* fr is a flexible unit based off of total size */
	/* it allows us to make our grids responsive */
	grid-template-columns: 1fr 1fr 0.5fr 0.25fr;
	grid-template-rows: 200px repeat(3, 100px);
	/*grid-auto-flow: row;*/
}

.grid-item{
	background: #86BBD8;

	/* to get rows to apply to block elements */
	display: inline;
}

.hidden{
	/*display: none;*/
	background: none;
}

/* grab all of the child elements of the .hidden */
/* child of hidden is just the text  */
.hidden > * {
	display: none;
}